*.pyc
*__pycache__*
.ipynb_checkpoints
.vscode
coc-dashboard/data/iqr.csv
coc-dashboard/data/outliers.csv
coc-dashboard/data/reporting.csv
coc-dashboard/data/std.csv
.env
*debug*
coc-dashboard/data/*.csv
coc-dashboard/data/db.sqlite
*.sqlite
