*.pyc
*__pycache__*
.ipynb_checkpoints
.vscode
coc-dashboard/data/iqr.csv
coc-dashboard/data/outliers.csv
coc-dashboard/data/reporting.csv
coc-dashboard/data/std.csv
.env
*debug*
coc-dashboard/data/*.csv
coc-dashboard/data/db.sqlite
coc-dashboard/data/repository_new.csv
coc-dashboard/data/paul_indics_pr_capita.sqlite
coc-dashboard/data/new_config.sqlite
1st doses of vitamin A to U5 (coverage)_2020Sep-2020Jul.csv
2nd doses of vitamin A to U5 (coverage)_2020Sep-2020Jul.csv
Low weight births (incidence)_2020Sep-2020Jul.csv
SAM cases identified (per 100 000 U5)_2020Sep-2020Jul.csv
SAM cases identified (per 100 000)_2020Sep-2020Jul.csv
